.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Ajusta las unidades si no es rem */
  gap: 1rem; /* Ajusta las unidades si necesario */
  flex-wrap: nowrap;
  justify-content: space-between;
}
